* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

.section {
    height: 100vh; /* Cada seção ocupa a tela inteira */
    background-size: cover; /* Garante que a imagem cubra toda a seção */
    background-position: center; /* Centraliza a imagem */
}
