#work_2 {
    background-color: #121212;
    font-family: 'Raleway', sans-serif; /* Define Nunito como a fonte padrão */
  /* Altura automática baseada no conteúdo */
    max-height: 550px;
}
.image-container {
    position:relative;      /* Fixa a posição na janela do navegador */
    top: 20px;   
    bottom: 20px;         /* A 20px do topo */

    left: 0;              /* Ocupa toda a largura */
    right: 0;
    margin: 0 auto;       /* Centraliza horizontalmente */
    width: 90%;           /* Ajuste para que o conteúdo não ocupe toda a largura */
    max-width: 800px;    /* Limita a largura máxima */
    overflow: auto;       /* Adiciona barra de rolagem se o conteúdo for muito grande */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 8.5); /* Sombra para destaque */
    padding: 10px;        /* Espaçamento interno */
    border-radius: 8px;   /* Bordas arredondadas */
}

.image-container img {
    width: 100%;          /* Imagem responsiva */
    height: auto;  
    border-radius: 15px;       /* Mantém a proporção da imagem */
}

.image-container p{
    
    color: #F2F2F2;
}




